{% macro render_property(name, prop, level=0) -%}
{{ "    " * level }}* {{ name }} {% if prop.type == 'array' and prop.get('items', {}) %}(array of {{ prop.get('items', {}).get('type', '') }})
{%- elif prop.type == 'object' %}(object)
{%- else %}({{ prop.type }}){% endif -%}
{%- if prop.default is defined %} - {{ prop.default }}{% endif -%}
{%- if prop.description %}: {{ prop.description }} {% endif -%}
{%- if prop.enum %}
{{ ', '.join(prop.enum) }}
{%- endif %}

{%- if prop.oneOf %}
{%- for sub_prop in prop.oneOf %}
{{ render_property("oneOf " + sub_prop.get('$ref', '').split('/')[-1], sub_prop, level + 1) }}
{%- endfor %}
{%- endif %}
{%- if prop.allOf %}
{%- for sub_prop in prop.allOf %}
{{ render_property("allOf " + sub_prop.get('$ref', '').split('/')[-1], sub_prop, level + 1) }}
{%- endfor %}
{%- endif %}
{%- if prop.anyOf %}
{%- for sub_prop in prop.anyOf %}
{{ render_property("anyOf " + sub_prop.get('$ref', '').split('/')[-1], sub_prop, level + 1) }}
{%- endfor %}
{%- endif %}
{%- if prop.additionalProperties %}
{{ render_property("add " + prop.additionalProperties.get('$ref', '').split('/')[-1], prop.additionalProperties, level + 1) }}
{%- endif %}

{%- if prop.properties %}
{%- for sub_name, sub_prop in prop.properties.items() %}
{{ render_property(sub_name, sub_prop, level + 1) }}
{%- endfor %}
{%- endif %}
{%- if prop.type == 'array' and prop.get('items', {}).get('properties') %}
{%- for sub_name, sub_prop in prop.get('items', {}).get('properties', {}).items() %}
{{ render_property(sub_name, sub_prop, level + 1) }}
{%- endfor %}
{%- endif %}
{%- endmacro %}

{% set schema = ref_to_schema(schema) -%}

{% if schema.properties -%}
{% for property_name, property in schema.properties.items() %}
{{ render_property(property_name, property) }}
{%- endfor %}
{%- endif %}

{% if schema.get('items', {}) -%}
{{ render_property(schema.get('items', {}).type, schema) }}
{%- endif %}
