# {{ spec.info.title }}

{{ spec.info.description }}

# Base URL


| URL | Description |
|-----|-------------|
{% for server in spec.servers -%}
| {{ server.url }} | {{ server.description }} |
{% endfor %}

# Authentication

{% with root = spec.components -%}
{% include './_security_scheme.md.j2' -%}
{% endwith -%}

# APIs

{% for path, methods in spec.paths.items() -%}

{% for method, operation in methods.items() -%}
## {{ method.upper() }} {{ path }}

{{ operation.summary }}

{% if operation.description and operation.description != operation.summary -%}
{{ operation.description }}
{% endif %}

{% if operation.parameters -%}

### Parameters

| Name | Type | Required | Description |
|------|------|----------|-------------|
{% for param in operation.parameters -%}
{% set param_obj = ref_to_schema(param) -%}
| {{ param_obj.name }} | {{ param_obj.schema.type }} | {{ param_obj.required }} | {{ param_obj.description }} |
{% endfor -%}
{% endif %}

{% if operation.requestBody -%}

### Request Body

{% set content = operation.requestBody.content -%}
{% include './_content.md.j2' %}

{% endif -%}

### Responses

{% for status_code, response in operation.responses.items() -%}

#### {{ status_code }}

{% if response.description %}
{{ response.description }}
{% endif %}

{% set content = response.content -%}
{% include './_content.md.j2' %}

{% endfor -%}
{% endfor -%}
{% endfor -%}

# Components

{% if spec.components.schemas -%}
{% for schema_name, schema in spec.components.schemas.items() %}

## {{ schema_name }}

{% if schema.description %}
{{ schema.description }}
{% endif %}

{% include './_object_schema.md.j2' -%}
{% endfor -%}

{% endif -%}
